body{
background-color: bisque;

}

.exo{
    display: flex;
    background-color: rgb(11, 125, 218);
}

.logo{
    width: auto;
    height: 100px;
   
}

.satu{
    font-size: 17;
    color: brown;
    margin: 5px;
    font-weight: 800;
}

.dua{
    font-size: 15;
    color: blueviolet;
    margin: 5ps;
    font-weight: 500;
}

.tiga {
    font-size: 14;
    color: rgb(150, 101, 29);
    margin: 5px;
    font-weight: 400;
}

.empat {
    font-size: 12;
    color: rgb(197, 68, 29);
    margin: 5ps;
    font-weight: 300;
}

.box{
    display: flex;
}

.box1{
    height: 100px;
    width: 100px;
    text-align: center;
    background-color: red;
    padding: 30px;
    margin: 20px;
}

.box2{
    height: 100px;
    width: 600px;
    text-align: center;
    background-color: red;
    padding: 30px;
    margin: 20px;
}

.box3{
    height: 100px;
    width: 600px;
    text-align: center;
    background-color: red;
    padding: 30px;
    margin: 20px;
}

.exo p{
   font-size: 20px;
}
    
.satu {
    width: 800px;
    margin-top: 40px;

}

.dua{
    width: 800px;
    margin-top: 40px;
}

.tiga{
    width: 800px;
    margin-top: 40px;
}

.empat{
    width: 880px;
    margin-top: 40px;
}

.satu{
    text-indent: 15px;
    text-align: justify;
}
.dua{
    text-indent: 15px;
    text-align: justify;
}
.tiga{
    text-indent: 15px;
    text-align: justify;
}
.empat{
   text-indent: 15px;
    text-align: justify;
}